* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --system-ui-font: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.body-container {
  max-width: 1120px;
  margin: 3rem auto;
  font-family: var(--system-ui-font);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "main main main aside"
    "secondary-content secondary-content secondary-content aside"
    "footer footer footer footer";
  gap: 1rem;
  color: #474747;
}

.body-container > * {
    border-radius: 0.5rem
}

.main {
  grid-area: main;
  background: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.aside {
  grid-area: aside;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-content {
  grid-area: secondary-content;
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.footer {
  grid-area: footer;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

h1 {
  font-size: 2rem;
}

@media (max-width: 450px) {
  .body-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "secondary-content"
      "aside"
      "footer";
      margin: 1rem;
  }

  .aside {
    height: 200px;
  }
}
